<footer class="footer">
  <div class="container">
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Trang chủ</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Thông tin</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Dịch vụ</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Liên lạc</a></li>
    </ul>
    <div>
      <span class="copy-right">VĂN PHÒNG PHẨM 2023 &copy; | All Rights Reserved</span>
    </div>
  </div>
</footer>
