<p-table
  [value]="orders"
  [tableStyle]="{ 'min-width': '60rem' }"
  [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>Số sản phẩm</th>
      <th>Thời gian đặt hàng</th>
      <th>Phương thức nhận hàng</th>
      <th>Tổng tiền</th>
      <th style="text-align: center">Thao tác</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.productCount }}</td>
      <td>{{ order.orderDate | date : "hh:mm:ss a, dd/MM/yyyy" }}</td>
      <td>{{ order.payment }}</td>
      <td>{{ order.totalBill | currency : "VND" }}</td>
      <td style="text-align: center">
        <p-button
          *ngIf="this.statusOrderCode === this.enumData.statusOrder.wait.code"
          label="Huỷ"
          styleClass="p-button-danger"
          icon="pi pi-times"
          (click)="confirmCancelOrder(order.id)"
        ></p-button>
        <p-button
          *ngIf="statusOrderCode === this.enumData.statusOrder.processing.code"
          label="Hoàn tất"
          styleClass="p-button-success"
          [style]="{ 'margin-left': '10px' }"
          icon="pi pi-check"
          (click)="confirmSuccessOrder(order.id)"
        ></p-button>
        <p-button
          label="Chi tiết"
          icon="pi pi-list"
          [style]="{ 'margin-left': '10px' }"
          (click)="openModalOrderDetail(order)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
