<div class="main-order">
  <div class="card">
    <p-tabView
      styleClass="tabview-custom"
      (onChange)="handleChangeViewOrder($event)"
    >
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Chờ xác nhận</span>
        </ng-template>
        <app-listOrder
          *ngIf="currentOrder == enumData.statusOrder.wait.value"
          [statusOrderCode]="enumData.statusOrder.wait.code"
        />
      </p-tabPanel>

      <p-tabPanel header="Processing">
        <ng-template pTemplate="header">
          <span>Đang xử lý</span>
        </ng-template>
        <app-listOrder
          *ngIf="currentOrder == enumData.statusOrder.processing.value"
          [statusOrderCode]="enumData.statusOrder.processing.code"
        />
      </p-tabPanel>

      <p-tabPanel header="success">
        <ng-template pTemplate="header">
          <span>Hoàn tất</span>
        </ng-template>
        <app-listOrder
          *ngIf="currentOrder == enumData.statusOrder.success.value"
          [statusOrderCode]="enumData.statusOrder.success.code"
        />
      </p-tabPanel>

      <p-tabPanel header="cancel">
        <ng-template pTemplate="header">
          <span>Huỷ</span>
        </ng-template>
        <app-listOrder
          *ngIf="currentOrder == enumData.statusOrder.cancel.value"
          [statusOrderCode]="enumData.statusOrder.cancel.code"
        />
      </p-tabPanel>
    </p-tabView>
  </div>
</div>