.card {
  width: 100%;
  background: white;
  padding: 0.5rem;
  border-radius: 10px;
}
:host ::ng-deep{
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background-color: #6f42c1;
    color: white;
    border-radius: 25px;
    height: 40px;
  }
}
