<p-table #tdt [value]="orders" [columns]="ordersDataCols" responsiveLayout="scroll" class="table-content" [paginator]="true" [rows]="rows"
[virtualRowHeight]="340" [paginator]="true" [showCurrentPageReport]="true" [(first)]="first"
[resizableColumns]="true" [reorderableColumns]="true" [columnResizeMode]="'expand'"
[globalFilterFields]="['customerName','email','productCount','orderDate','payment','totalBill','statusOrderCode']"
[rowsPerPageOptions]="[5, 10, 20]"
currentPageReportTemplate="Hiển thị {first} - {last} trong tổng số {totalRecords} dữ liệu">
<ng-template pTemplate="header" let-columns>
    <tr>
        <th pReorderableColumn pResizableColumn *ngFor="let col of columns"
            [style.width]="col.width + '%'">
            <span>{{ col.header }}</span>
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-columns="columns" let-rowIndex="rowIndex" let-rowData>
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns">
        <span [ngSwitch]="col.type">
          <span *ngSwitchCase="'stt'" tooltipPosition="bottom" pTooltip="{{rowIndex + 1}}">{{rowIndex + 1}}
          </span>
          <span *ngSwitchCase="'money'" tooltipPosition="bottom" pTooltip="{{rowData[col.field]}}">{{rowData[col.field] | currency : "VND"}}
          </span>
          <span *ngSwitchCase="'percent'" tooltipPosition="bottom" pTooltip="{{rowData[col.field]}}">{{rowData[col.field] }}%
          </span>
          <span *ngSwitchCase="'button'" class="button"> 
              <td>
                <button *ngIf="statusOrderCode === this.enumData.statusOrder.wait.code"
                  pButton icon="pi pi-chevron-circle-down" pTooltip="Xác nhận" tooltipPosition="bottom" class="p-button-rounded p-button-success mr-2"
                  (click)="confirmProcessingOrder(rowData['id'])"></button> 
                <button *ngIf="statusOrderCode === this.enumData.statusOrder.processing.code"
                  pButton icon="pi pi-check-square" pTooltip="Hoàn tất" tooltipPosition="bottom" class="p-button-rounded p-button-success mr-2"
                  (click)="confirmSuccessOrder(rowData['id'])"></button> 
                <button *ngIf=" statusOrderCode === this.enumData.statusOrder.wait.code || statusOrderCode === this.enumData.statusOrder.processing.code"
                  pButton icon="pi pi-times-circle" pTooltip="Huỷ" tooltipPosition="bottom" class="p-button-rounded p-button-danger mr-2"
                  (click)="confirmCancelOrder(rowData['id'])"></button> 
                <button pButton icon="pi pi-list" pTooltip="Chi tiết" tooltipPosition="bottom" class="p-button-rounded p-button-secondary mr-2"
                  (click)="openModalOrderDetail(rowData)"></button> 
              </td> 
            </span>
            <span *ngSwitchCase="'date'" pTooltip="{{rowData[col.field]}}">{{ rowData[col.field] | date : "hh:mm:ss a, dd/MM/yyyy" }} 
            </span> 
            <span *ngSwitchDefault pTooltip="{{rowData[col.field]}}">{{ rowData[col.field] }}</span> 
        </span>                   
        </td>
    </tr>
</ng-template>

<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="13">No data found.</td>
    </tr>
</ng-template>
</p-table>