<div class="block">
    <div class="card">
        <h1 class="ml-1"><b>Khách Hàng Vip</b></h1>
        <span class="title-vip">ĐIỀU KIỆN CẤP THẺ VÀ QUYỀN LỢI THẺ VIP</span>
        <p-card header="ĐIỀU KIỆN CẤP THẺ VIP" class="card-vip mt-3">
            <p class="m-0 card-vip-note">
                Khách hàng khi hoàn tất mua hàng có hoá đơn tại website của Văn Phòng Phẩm 2023 sẽ được tự động tạo thẻ VIP dựa trên <b>số điện thoại</b> được cung cấp khi đặt hàng.
            </p>
            <p class="mt-3 card-vip-note">
                Khi thẻ tích đủ tối thiểu <b>500.000 VNĐ</b>, khách hàng sẽ được giảm giá vào các lần mua hàng tiếp theo.
            </p>
        </p-card>
        <p-card header="CHÍNH SÁCH GIẢM GIÁ DÀNH CHO KHÁCH HÀNG VIP" class="card-vip mt-3">
            <p class="m-0 card-vip-note">
                Khách hàng khi hoàn tất mua hàng có hoá đơn tại website của Văn Phòng Phẩm 2023 sẽ được tự động tạo thẻ VIP dựa trên <b>số điện thoại</b> được cung cấp khi đặt hàng.
            </p>
        </p-card>        
    </div>
</div>
