<button pButton icon="pi pi-caret-left" label="Back To Admin Product" class="p-button-sm p-button-raised p-button-rounded p-button-secondary back-button" (click)="backToParent()"></button>
<form [formGroup]="productForm" (ngSubmit)="saveForm()">
    <p-accordion>
        <p-accordionTab header="Create Product" class="center" [selected]="true">
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Product ID</mat-label>
                        <input matInput formControlName = "Id" name = "ProductId" required="">             
                      </mat-form-field> 
                </div>              
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Category Id</mat-label>
                        <input matInput formControlName = "CategoryId" name = "CategoryId" required="">            
                    </mat-form-field>       
                </div>                       
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Brand Name</mat-label>
                        <mat-select formControlName="BrandName" (valueChange)="changeBrandName()">
                            <mat-option *ngFor="let brand of brands" [value]="brand">
                            {{brand}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="productForm.get('BrandName')?.hasError('required')">
                            Please choose one brand!
                        </mat-error>
                      </mat-form-field> 
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>BrandId</mat-label>
                        <input matInput formControlName = "BrandId" name = "BrandId" required="">             
                    </mat-form-field> 
                </div>              
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Name</mat-label>
                        <input matInput formControlName = "ProductName" name = "ProductName" required="">             
                      </mat-form-field>         
                </div>                       
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName = "Description" name = "Description">             
                    </mat-form-field> 
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">       
                    <mat-form-field appearance="outline">
                        <mat-label>Sold Quantity</mat-label>
                        <input matInput formControlName = "SoldQuantity" name = "SoldQuantity" type="number">             
                    </mat-form-field> 
                </div>              
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Quanity</mat-label>
                        <input matInput formControlName = "Quanity" name = "Quanity" type="number">             
                    </mat-form-field>               
                </div>   
                <div class="col-12 md:col-4"> 
                    <mat-form-field appearance="outline">
                        <mat-label>Discount</mat-label>
                        <input matInput formControlName = "Discount" name = "Discount" type="number">             
                    </mat-form-field>   
                </div>                     
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput formControlName = "Price" name = "Price" required="" type="number">
                        <span matTextSuffix>VND</span>             
                    </mat-form-field>        
                </div>              
                <div class="col-12 md:col-4">         
                </div>   
                <div class="col-12 md:col-4">
                </div>                     
            </div>
            <app-upload-image (onUploadFinished)="uploadFinished($event)"></app-upload-image>
            <img [src]="createImgPath(this.productForm.controls['Image'].value)" alt="product picture" class="courseImage"> 
            <div class="pt-2">
                <button *ngIf="!existedProductId" pButton label="Create" class="p-button-rounded p-button-success" type="submit" [disabled]="productForm.invalid"></button>
                <button *ngIf="existedProductId" pButton label="Save" class="p-button-rounded p-button-success" type="submit" [disabled]="productForm.invalid"></button>           
                <button pButton label="Cancel" class="p-button-rounded p-button-secondary ml-3" type="button" (click)="cancel()"></button> 
            </div>                             
         </p-accordionTab>
    </p-accordion>
</form>
<app-footer />