<p-toast position="top-center" key="tc"></p-toast>
<form [formGroup]="registerForm" (submit)="register()">
    <p-dialog header="Đăng ký" [(visible)]="displayRegisterPopUp" [style]="{width: '37vw'}" [baseZIndex]="10000">
      <div class="example-container register">
        <table>
          <tr>
            <td>
              <div class="mr-5">
                <mat-form-field appearance="outline">
                  <mat-label>Họ và tên</mat-label>
                  <input matInput formControlName = "Name" name = "Name" required="">     
                  <mat-error *ngIf="registerForm.get('Name')?.hasError('required')">
                    Hãy nhập họ và tên!
                  </mat-error>        
                </mat-form-field>
            </div>
            </td>
            <td>
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Tài khoản</mat-label>
                  <input matInput formControlName = "LoginName" name = "LoginName" required="">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="registerForm.get('LoginName')?.hasError('required')">
                    Hãy nhập Tài khoản!
                  </mat-error> 
                </mat-form-field>
            </div>
            </td>
          </tr>
          <tr>
            <td>                  
              <div class="mr-5">
                <mat-form-field appearance="outline">
                  <mat-label>Địa chỉ email</mat-label>
                  <input matInput formControlName = "Email" name = "Email" required="" email>
                  <mat-error *ngIf="registerForm.get('Email')?.hasError('required')">
                    Hãy nhập địa chỉ email!
                  </mat-error>
                </mat-form-field>
            </div>
          </td>
            <td>
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Số điện thoại</mat-label>
                  <input matInput formControlName = "TelNum" name = "TelNum">
                  <mat-error *ngIf="registerForm.get('TelNum')?.hasError('required')">
                    Hãy nhập số điện thoại!
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('TelNum')?.hasError('minlength')">
                    Định dạng số điện thoại chưa chính xác!
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('TelNum')?.hasError('maxlength')">
                    Định dạng số điện thoại chưa chính xác!
                  </mat-error>
                </mat-form-field>
            </div>
          </td>
          </tr>
          <tr>
            <td>
              <div class="mr-5">
                <mat-form-field appearance="outline">
                  <mat-label>Mật khẩu</mat-label>
                  <input matInput formControlName = "Password" name = "Password" required="" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="registerForm.get('Password')?.hasError('required')">
                    Hãy nhập mật khẩu!
                  </mat-error>
                </mat-form-field>
            </div>
            </td>
            <td>
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Nhập lại mật khẩu</mat-label>
                  <input matInput formControlName = "ConfirmPassword" name = "ConfirmPassword" required="" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="registerForm.get('ConfirmPassword')?.hasError('required')">
                    Hãy nhập lại mật khẩu!
                  </mat-error>
                </mat-form-field>
              </div> 
            </td>
          </tr>
          <tr>
            <td>
              <div class="mr-5">
                <mat-form-field appearance="fill">
                  <mat-label>Tỉnh/Thành Phố</mat-label>
                  <mat-select formControlName="Provinces">
                      <mat-option *ngFor="let province of provices" [value]="province">
                      {{province.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="registerForm.get('Provinces')?.hasError('required')">
                    Hãy chọn tỉnh/thành phố!
                  </mat-error>
                </mat-form-field>
                
              </div>
            </td>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Huyện/Quận</mat-label>
                <mat-select formControlName="Districts">
                    <mat-option *ngFor="let district of districts" [value]="district" >
                    {{district.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.get('Districts')?.hasError('required')">
                  Hãy chọn huyện/quận!
                </mat-error>
            </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Xã/Phường</mat-label>
                  <mat-select formControlName="Wards">
                      <mat-option *ngFor="let ward of wards" [value]="ward">
                      {{ward.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="registerForm.get('Wards')?.hasError('required')">
                    Hãy chọn xã/phường!
                  </mat-error>
              </mat-form-field>
            </div>   
            </td>
            <td>
              <mat-form-field>
                <mat-label>Số nhà, đường</mat-label>
                <textarea matInput rows="1" formControlName="Address"></textarea>
                <mat-error *ngIf="registerForm.get('Address')?.hasError('required')">
                  Hãy nhập số nhà, đường!
                </mat-error>
            </mat-form-field>
            </td>
          </tr>
        </table>          
        </div>
        <p-button class="center registerButton" label="Đăng ký" type="submit"></p-button> 
        <span class="center">
          <a class="hyper-link" routerLink="../login-user">Bạn đã có tài khoản?</a>
        </span> 
    </p-dialog>
    </form>

<p-dialog header="Xác nhận đăng ký" [(visible)]="displayConfirmPopUp" [style]="{width: '25vw'}" [baseZIndex]="10000">
    <div class="example-container">
      <div>
          <mat-form-field appearance="outline" class="confirm">
            <mat-label>Enter email</mat-label>
            <input matInput [(ngModel)]="confirmEmail" [disabled]="true" >
          </mat-form-field>
        </div>
      <div>
        <mat-form-field appearance="outline" class="confirm">
          <mat-label>Enter confirm code</mat-label>
          <input matInput required="" [(ngModel)]="confirmCode">
        </mat-form-field>
      </div> 
    </div>
    <div><a *ngIf="registerSuccessfully" routerLink="/app-login">Click here or wait 3 seconds to login</a></div>
    <p-button class="center" label="Xác nhận" (click)="confirmRegister()"></p-button> 
</p-dialog>
<p-toast position="bottom-center" key="c" (onClose)="onRejectLoginPage()" [style]="{width: '20vw'}" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div>
              <i class="pi pi-exclamation-triangle center" style="font-size: 3rem"></i>
              <span class="center">{{message.summary}}</span>
              <p class="center" style="color: black;">{{message.detail}}</p>
          </div>
          <div class="row confirmDialog">
            <div class="col">
              <button type="button" pButton (click)="onConfirmLoginPage()" label="Đồng ý" class="p-button-success ml-3 mt-3"></button>
            </div>
            <div class="col">
              <button type="button" pButton (click)="onRejectLoginPage()" label="Huỷ" class="p-button-secondary mt-3" style="float: right;"></button>
            </div>
          </div>         
      </div>
  </ng-template>
</p-toast>