USE [db-main3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Comments] [nvarchar](255) NULL,
	[Votes] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[AdminReply] [nvarchar](255) NULL,
	[ReplyDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ProductId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[TotalBill] [float] NOT NULL,
	[Payment] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[DiscountVIP] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Remark] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[SoldQuantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[ImageDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAPIs]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAPIs](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserAPIs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TelNum] [nvarchar](10) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[TokenCreated] [datetime2](7) NOT NULL,
	[TokenExpires] [datetime2](7) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[AddressCode] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[VipsId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIPs]    Script Date: 12/18/2023 7:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIPs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PriceFrom] [float] NOT NULL,
	[PriceTo] [float] NOT NULL,
	[Discount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_VIPs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230713140523_Initial', N'6.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230806075558_change-monolithic-to-microservice-database', N'6.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230806094643_change-some-missing', N'6.0.12')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [BrandName], [Description], [IsActive]) VALUES (1, N'Thiên Longg', N'', 1)
INSERT [dbo].[Brands] ([Id], [BrandName], [Description], [IsActive]) VALUES (2, N'Bến Nghé', N'', 1)
INSERT [dbo].[Brands] ([Id], [BrandName], [Description], [IsActive]) VALUES (3, N'Paper Mate', N'', 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
INSERT [dbo].[Carts] ([UserId], [ProductId], [Quantity], [CreatedDate], [UpdatedDate]) VALUES (14, 12, 4, CAST(N'2023-09-23T12:45:34.7648373+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[Carts] ([UserId], [ProductId], [Quantity], [CreatedDate], [UpdatedDate]) VALUES (17, 13, 2, CAST(N'2023-12-17T07:32:12.2140203+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[Carts] ([UserId], [ProductId], [Quantity], [CreatedDate], [UpdatedDate]) VALUES (17, 29, 1, CAST(N'2023-12-17T07:33:03.9930332+00:00' AS DateTimeOffset), NULL)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [IsActive], [Description], [Image]) VALUES (7, N'Bút viết', 1, N'Bút bi, bút máy, bút xoá, bút gel,...', N'Resources/Images/x71xt9pxn6e8nj8ft5q02p6fmknck6no.png')
INSERT [dbo].[Categories] ([Id], [CategoryName], [IsActive], [Description], [Image]) VALUES (8, N'Máy tính cầm tay', 1, N'Casio, FlexOffice,...', N'Resources/Images/z3i6wq58jo4n6g3c7vfemrrfi33w2dtg.jpg')
INSERT [dbo].[Categories] ([Id], [CategoryName], [IsActive], [Description], [Image]) VALUES (9, N'Vở ', 1, N'Tập học sinh, sổ ghi chú,...', N'Resources/Images/a98v3771ej7w6w47cp479luhhg7j9698.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Feedbacks] ([UserId], [ProductId], [Comments], [Votes], [OrderId], [CreatedDate], [IsActive], [UpdatedDate], [AdminReply], [ReplyDate]) VALUES (17, 12, N'ok', 3, 43, CAST(N'2023-12-03T06:16:27.2988750+00:00' AS DateTimeOffset), 1, CAST(N'2023-12-03T06:16:27.2988764+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Feedbacks] ([UserId], [ProductId], [Comments], [Votes], [OrderId], [CreatedDate], [IsActive], [UpdatedDate], [AdminReply], [ReplyDate]) VALUES (17, 12, N'không tốt', 1, 44, CAST(N'2023-11-13T14:51:01.8323658+00:00' AS DateTimeOffset), 1, CAST(N'2023-12-09T07:35:35.3499914+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Feedbacks] ([UserId], [ProductId], [Comments], [Votes], [OrderId], [CreatedDate], [IsActive], [UpdatedDate], [AdminReply], [ReplyDate]) VALUES (17, 13, N'không tốt lắm', 1, 44, CAST(N'2023-11-13T14:51:01.8325217+00:00' AS DateTimeOffset), 1, CAST(N'2023-12-09T07:35:35.3499925+00:00' AS DateTimeOffset), N'voquangtuong06022001', CAST(N'2023-12-10T15:08:10.9599384+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[OrderDetails] ([ProductId], [Price], [OrderId], [Quantity], [Discount]) VALUES (11, 1000000, 31, 2, 20)
INSERT [dbo].[OrderDetails] ([ProductId], [Price], [OrderId], [Quantity], [Discount]) VALUES (12, 1000000, 31, 1, 25)
INSERT [dbo].[OrderDetails] ([ProductId], [Price], [OrderId], [Quantity], [Discount]) VALUES (11, 10000, 32, 1, 20)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [Status], [UpdatedBy], [Address], [TotalBill], [Payment], [CreatedDate], [IsActive], [UpdatedDate], [DiscountVIP], [Description], [Remark]) VALUES (31, 14, N'Success', 14, N'tổ 8, Xã Tân Lâm, Huyện Xuyên Mộc, Tỉnh Bà Rịa - Vũng Tàu', 990000, N'A', CAST(N'2023-08-07T15:19:45.9493619+00:00' AS DateTimeOffset), 1, NULL, 0, N'', N'')
INSERT [dbo].[Orders] ([Id], [UserId], [Status], [UpdatedBy], [Address], [TotalBill], [Payment], [CreatedDate], [IsActive], [UpdatedDate], [DiscountVIP], [Description], [Remark]) VALUES (32, 17, N'Cancel', 17, N'Ấp Bàu Chiên, Xã Tân Lâm, Huyện Xuyên Mộc, Tỉnh Bà Rịa - Vũng Tàu', 1106500, N'A', CAST(N'2023-08-10T10:04:03.0710132+00:00' AS DateTimeOffset), 1, NULL, 0, N'', N'')
INSERT [dbo].[Orders] ([Id], [UserId], [Status], [UpdatedBy], [Address], [TotalBill], [Payment], [CreatedDate], [IsActive], [UpdatedDate], [DiscountVIP], [Description], [Remark]) VALUES (38, 17, N'Cancel', 17, N'Ấp Bàu Chiên, Xã Tân Lâm, Huyện Xuyên Mộc, Tỉnh Bà Rịa - Vũng Tàu', 1164500, N'A', CAST(N'2023-08-10T17:02:43.3673633+00:00' AS DateTimeOffset), 1, NULL, 0, N'', N'')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [Description], [Image], [Price], [Discount], [Quanity], [SoldQuantity], [CategoryId], [BrandId], [CreatedDate], [IsActive], [UpdatedDate], [ImageDetail]) VALUES (11, N'Bút Bi 6 Màu Trái Thơm', N'Bút bi Bến Nghé', N'Resources\Images\6949029955899-_6_.jpg', 10000, 20, 40, 3, 7, 2, CAST(N'2023-08-10T10:12:35.2502492+00:00' AS DateTimeOffset), 1, CAST(N'2023-08-10T10:12:35.2502522+00:00' AS DateTimeOffset), N'Resources\Images\4549526604379-_6_.jpg,Resources\Images\Screenshot 2023-03-19 132452.png,Resources\Images\8935001804086.jpg')
INSERT [dbo].[Products] ([Id], [ProductName], [Description], [Image], [Price], [Discount], [Quanity], [SoldQuantity], [CategoryId], [BrandId], [CreatedDate], [IsActive], [UpdatedDate], [ImageDetail]) VALUES (12, N'Máy Tính Văn Phòng Casio MP12R', N'Máy tính cầm tay nhỏ gọn, tiện ích', N'Resources\Images\4549526604379-_6_.jpg', 699000, 25, 0, 8, 8, 4, CAST(N'2023-09-23T12:58:41.4937209+00:00' AS DateTimeOffset), 1, CAST(N'2023-09-23T12:58:41.4937215+00:00' AS DateTimeOffset), N'Resources\Images\4971850091431.jpg')
INSERT [dbo].[Products] ([Id], [ProductName], [Description], [Image], [Price], [Discount], [Quanity], [SoldQuantity], [CategoryId], [BrandId], [CreatedDate], [IsActive], [UpdatedDate], [ImageDetail]) VALUES (13, N'Vở doraemonn', N'Tập 4 Ly Ngang 200 Trang', N'Resources\Images\8936038723180-mau1_3__1.jpg', 100000, 10, 2, 15, 9, 5, CAST(N'2023-08-09T19:56:58.4858639+00:00' AS DateTimeOffset), 1, CAST(N'2023-08-09T19:56:58.4858642+00:00' AS DateTimeOffset), N'Resources/Images/ddb8e14b6e3a2db62dc67214c6a1c4c7.jpg_720x720q80.jpg_.webp')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Normal')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserAPIs] ([UserId], [RoleId], [IsActive]) VALUES (14, 1, 1)
INSERT [dbo].[UserAPIs] ([UserId], [RoleId], [IsActive]) VALUES (14, 2, 1)
INSERT [dbo].[UserAPIs] ([UserId], [RoleId], [IsActive]) VALUES (17, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VIPs] ON 

INSERT [dbo].[VIPs] ([Id], [PriceFrom], [PriceTo], [Discount], [IsActive]) VALUES (1, 500000, 999000, 5, 1)
INSERT [dbo].[VIPs] ([Id], [PriceFrom], [PriceTo], [Discount], [IsActive]) VALUES (2, 1000000, 1999000, 6, 1)
INSERT [dbo].[VIPs] ([Id], [PriceFrom], [PriceTo], [Discount], [IsActive]) VALUES (4, 2000000, 2999000, 7, 1)
SET IDENTITY_INSERT [dbo].[VIPs] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (N'') FOR [Image]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Price]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [TotalBill]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'') FOR [Image]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [TelNum]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [VipsId]
GO
ALTER TABLE [dbo].[VIPs] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Products_ProductId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[UserAPIs]  WITH CHECK ADD  CONSTRAINT [FK_UserAPIs_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAPIs] CHECK CONSTRAINT [FK_UserAPIs_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserAPIs]  WITH CHECK ADD  CONSTRAINT [FK_UserAPIs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAPIs] CHECK CONSTRAINT [FK_UserAPIs_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_VIPs_VipsId] FOREIGN KEY([VipsId])
REFERENCES [dbo].[VIPs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_VIPs_VipsId]
GO
