<div class="block main">
    <div class="product-detail">
        <p-card header="Chi tiết sản phẩm">
            <div class="row">
                <div class="col-5 mt-3">
                    <div class="md:flex">
                        <p-galleria [value]="currentProduct.imageDetail" 
                            [showIndicators]="true" 
                            [showThumbnails]="false" 
                            [changeItemOnIndicatorHover]="true" 
                            [responsiveOptions]="responsiveOptions"
                            [containerStyle]="{ 'max-width': '400px', 'min-width': '400px', 'min-height': '460px' }"> 
                            <ng-template pTemplate="item" let-item>
                                <img [src]="createImgPath(item)" style="width: 100%; display: block;" />
                            </ng-template>
                        </p-galleria>
                    </div>
                    <div class="button-box">            
                        <button pButton pRipple label="Thêm vào giỏ hàng" icon="pi pi-cart-plus" class="p-button-secondary"></button>
                        <button pButton pRipple label="Mua ngay" icon="pi pi-cart-plus" class="p-button-danger ml-3"></button>
                    </div>
                </div>
                <div class="col-7">
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-12">
                            <h1><b>{{currentProduct.productName}}</b></h1>
                        </div>              
                    </div>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <h3>Nhãn hàng: <b>{{currentProduct.brand.brandName}}</b></h3>
                        </div>    
                        <div class="col-12 md:col-6">
                            <h3>Danh mục: <b>{{currentProduct.category.categoryName}}</b></h3>
                        </div>             
                    </div>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <h3>Số lượng sẵn có: <b>{{currentProduct.quanity}}</b></h3>
                        </div>    
                        <div class="col-12 md:col-6">
                            <h3>Số lượng đã bán: <b>{{currentProduct.soldQuantity}}</b></h3>
                        </div>  
                    </div>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-9">
                            <h3>Mô tả: <b>{{currentProduct.description}}</b></h3>
                        </div>    
                    </div>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-2">
                            <p-rating [ngModel]="currentProduct.averageVote" [readonly]="true" [cancel]="false"></p-rating>
                        </div>    
                        <div class="col-12 md:col-2">
                            <span style="color: red;">({{feedbacks.length}} đánh giá)</span>
                        </div>             
                    </div>
                    <div class="grid p-fluid mt-3">
                        <div class="col-12 md:col-6">
                            <div class="price-box">
                                <p style="display: inline-block;">
                                    <span class="price">{{currentProduct.price - (currentProduct.price * currentProduct.discount) / 100 | currency : "VND"}}</span>
                                </p>                      
                                <p style="display: inline-block;">
                                    <span class="old-price">{{currentProduct.price | currency : "VND"}}</span>
                                    <span class="discount-percent">{{currentProduct.discount}}%</span>
                                </p>
                            </div>
                        </div>    
                    </div>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <h4>
                                Số lượng:
                                <p-inputNumber 
                                    class="ml-3"
                                    [(ngModel)]="quantityAddToCart"
                                    [showButtons]="true"
                                    buttonLayout="horizontal"
                                    inputId="horizontal"
                                    spinnerMode="horizontal"
                                    [step]="1"
                                    decrementButtonClass="p-button-danger"
                                    incrementButtonClass="p-button-success"
                                    incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus"
                                    [min]="1"
                                    [max]="currentProduct.quanity"
                                    [style]="{ width: '150px' }">
                                </p-inputNumber>
                            </h4>
                        </div>                            
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    <div class="product-detail">
        <p-card header="Đánh giá sản phẩm">
            <div class="row">
                <div class="card">
                    <p-dataView #dv [value]="feedbacks">
                        <ng-template let-feedback pTemplate="listItem">
                            <div class="col-12">
                                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                            <div class="text-2xl font-bold text-900">{{ feedback.userName }} ({{feedback.loginName}})</div>
                                            <p-rating [(ngModel)]="feedback.votes" [readonly]="true" [cancel]="false"></p-rating>
                                            <div class="flex align-items-center gap-3">
                                                <span class="flex align-items-center gap-2">
                                                    <i class="pi pi-tag"></i>
                                                    <span class="font-semibold">{{ feedback.comments }}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                            <span class="text-xl">{{feedback.createdDate | date : "hh:mm:ss a, dd/MM/yyyy" }}</span>
                                            <p-button icon="pi pi-comments" styleClass="p-button-help" (click)="openAdminReplyPopup()"></p-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
        </p-card>
    </div>
</div>
<p-dialog [(visible)]="displayAdminReplyPopup" [style]="{width: '450px'}" header="Đánh giá" [modal]="true" styleClass="p-fluid" class="profile">
    <mat-form-field class="mt-3 comments">
        <mat-label>Đánh giá</mat-label>
        <textarea matInput [(ngModel)]="adminReplyContent" type="string" rows="4" cols="60"></textarea>
      </mat-form-field>
    <ng-template pTemplate="footer">
        <div class="pt-2">
            <button pButton label="Lưu" class="p-button-rounded p-button-success"></button>    
            <button pButton label="Huỷ" class="p-button-rounded p-button-secondary ml-1" type="button" (click)="hideAdminReplyPopup()"></button> 
        </div>
    </ng-template>
  </p-dialog>
