<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<form [formGroup]="loginForm" (submit)="login()">
<p-dialog header="Đăng nhập" [(visible)]="displayLoginPopUp" [style]="{width: '25vw'}" [baseZIndex]="10000" [resizable]="true" (onHide)="hideLogin()">
  <div class="example-container">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Tài khoản</mat-label>
        <input matInput formControlName = "LoginUser" name = "LoginUser" required="">
        <mat-error *ngIf="loginForm.get('LoginUser')?.hasError('maxlength')">
          Số lượng kí tự tối đa là 50!
        </mat-error>  
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="loginForm.get('LoginUser')?.hasError('required')">
          Hãy nhập Tài khoản!
        </mat-error> 
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input matInput formControlName = "Password" name = "Password" required="" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('Password')?.hasError('required')">
          Hãy nhập mật khẩu!
        </mat-error>
        <mat-error *ngIf="loginForm.get('Password')?.hasError('maxlength')">
          Số lượng kí tự tối đa là 50!
        </mat-error> 
      </mat-form-field>     
    </div> 
    </div>    
    <div class="center mb-1">   
      <label class="mt-2">Bạn là:</label>
      <mat-radio-group [(ngModel)]="userRole" (change)="handleUserRole($event)">
        <mat-radio-button value="admin">Quản trị viên</mat-radio-button>
        <mat-radio-button value="user" [checked]="true">Người dùng</mat-radio-button>
      </mat-radio-group>
    </div>
   
    <p-button class="center loginButton" label="Đăng nhập" type="submit"></p-button> 
    <span class="center">
      <a class="hyper-link" routerLink="../register-user">Bạn chưa có tài khoản?</a>
    </span>    
    <span class="center forgotPassword">
      <span class="hyper-link" (click)="openForgotPopup()">Quên mật khẩu?</span>
    </span>       
</p-dialog>
</form>
<p-dialog header="Quên mật khẩu" [(visible)]="displayForgotPopup" [style]="{width: '25vw'}" [baseZIndex]="10000" (onHide)="openLoginPopUp()">
  <div class="example-container">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Địa chỉ email</mat-label>
        <input matInput [(ngModel)]="confirmEmail" [disabled]="IsReceiveConfirmCode">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Mã xác nhận</mat-label>
        <input matInput [(ngModel)]="confirmCode" [disabled]="!IsReceiveConfirmCode">
      </mat-form-field>     
    </div> 
    </div>
    <p-button *ngIf="!IsReceiveConfirmCode" class="center loginButton" label="Gửi mã xác nhận" (click)="sendForgetCode()"></p-button> 
    <p-button *ngIf="IsReceiveConfirmCode" class="center loginButton" label="Xác nhận" (click)="confirmForgetPassword()"></p-button>
</p-dialog>

<p-dialog header="Quên mật khẩu" [(visible)]="displayChangePasswordPopup" [style]="{width: '25vw'}" [baseZIndex]="10000" (onHide)="openLoginPopUp()">
  <div class="example-container">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Địa chỉ email</mat-label>
        <input matInput [(ngModel)]="confirmEmail">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput [(ngModel)]="newPassword" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>     
    </div> 
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Xác nhận mật khẩu mới</mat-label>
        <input matInput [(ngModel)]="newConfirmPassword" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>     
    </div> 
    </div>
    <p-button class="center loginButton" label="Đổi mật khẩu" (click)="changePassword()"></p-button> 
</p-dialog>

<p-toast position="bottom-center" key="c" (onClose)="onRejectLoginPage()" [style]="{width: '20vw'}" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div>
              <i class="pi pi-exclamation-triangle center" style="font-size: 3rem"></i>
              <span class="center">{{message.summary}}</span>
              <p class="center" style="color: black;">{{message.detail}}</p>
          </div>
          <div class="row confirmDialog">
            <div class="col">
              <button type="button" pButton (click)="onConfirmLoginPage()" label="Đồng ý" class="p-button-success ml-3 mt-3"></button>
            </div>
            <div class="col">
              <button type="button" pButton (click)="onRejectLoginPage()" label="Từ chối" class="p-button-secondary mt-3" style="float: right;"></button>
            </div>
          </div>         
      </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-center" key="login" (onClose)="onRejectLoginCoursePage()" [style]="{width: '22vw'}" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div>
              <i class="pi pi-exclamation-triangle center mb-3" style="font-size: 3rem"></i>              
              <p class="center">{{message.detail}}</p>
              <span class="center" style="color: black;">{{message.summary}}</span>
          </div>
          <div class="row confirmDialog">
            <div class="col">
              <button type="button" pButton (click)="onConfirmCoursePage()" label="Đồng ý" class="p-button-success ml-3 mt-3"></button>
            </div>
            <div class="col">
              <button type="button" pButton (click)="onRejectLoginCoursePage()" label="Từ chối" class="p-button-secondary mt-3" style="float: right;"></button>
            </div>
          </div>         
      </div>
  </ng-template>
</p-toast>